---
interface Props {
  id: string;
  label: string;
  checked?: boolean;
}
const { id, label, checked = false } = Astro.props;
const switchId = `${id}_check`;
---

<label for={id} class="field-label">
  {label || id}
</label>

<c-input
  type="switch"
  id={switchId}
  name={switchId}
  value={checked ? "on" : "off"}
  checked={checked ? "checked" : ""}
  class="switch"
>
</c-input>

<div
  class={`field-wrapper ${checked ? '' : 'hidden'}`}
  data-field={id}
  data-field-type={label || "text"}
>
  <slot />
</div>
<script
  define:vars={{
    id,
    label,
    checked,
    switchId
  }}
>
  // This script can be used to handle any additional logic related to the switch component.
  // For example, you could add event listeners or manipulate the DOM based on the switch state.

  document.addEventListener("DOMContentLoaded", () => {
  const switchElement = document.getElementById(switchId);
  const elementWrapper = document.querySelector(`[data-field="${id}"]`);
  function initlistenersform(){
    if (!switchElement) return;
      switchElement.addEventListener("change", (event) => {
        const valuesw = (event.detail?.value || switchElement.value)
        const IsChecked = (valuesw === "on" || valuesw === true || valuesw === "true");
        if (!elementWrapper) return;
        elementWrapper.classList.toggle("hidden",!IsChecked);
        console.log(`Switch ${id} changed to ${IsChecked}`, elementWrapper);
      });
    //  console.log(`Switch ${id} initialized with checked=${checked}`, switchElement, elementWrapper);

      return elementWrapper;
    }
    initlistenersform()
  });
</script>
