---
import { type DocumentationConfig } from '../config/documentation'
interface Props {
  currentPage?: string;
  config?:DocumentationConfig;
}
const { 
    config = "Documentación", 
    currentPage,
} = Astro.props;
const urlbase = import.meta.env.BASE_URL.endsWith("/") ? import.meta.env.BASE_URL : `${import.meta.env.BASE_URL}/`;
const base = urlbase;
---
{
    Object.entries(config).map(([key, page]) => (
      <a 
        href={`${base}${page.slot}`} 
        class={`nav-link ${currentPage === key ? 'active' : ''}`}
      >
        <span class="material-symbols-outlined">{page.icon}</span>
        <span class="nav-text">{page.name}</span>
      </a>
    ))
  }