---
import Events from "@components/events/events.astro";
import ActionsForm from "./Actions.astro";
import DatabaseSection from "./DatabaseSection.astro";
import Notify from '@components/notify.astro';
import { databases } from "@config/idbconfig";
import Templates from "./Templates.astro";
// Configuración de las secciones de base de datos
const databaseSections = [
  {
    databaseConfig: databases.ActionsDB,
    buttonText: "Agregar Acción",
    buttonId: "ActionsDBButton",
    tableId: "ActionConfigManager",
    sectionId: "actions-section"
  }
];
---

<link rel="stylesheet" href="src/components/actions/iec/styles.css">
<script src="/src/litcomponents/modal.js"></script>
<script src="/src/components/actionsjs/table.ts"></script>
<script src="/src/litcomponents/Database/single-dbmanager.js"></script>

<div class="container">
  <dlg-cont id="modal-container">
    <dyn-obj-disp id="dynamic-editor" mode="edit" darkmode></dyn-obj-disp>
  </dlg-cont>
  
  <dlg-cont id="Action-modal">
    <obj-edit-frm id="Action-editor" mode="edit" darkmode></obj-edit-frm>
  </dlg-cont>  

    <div class="flex center navbar-brand p-10 center gap-10">
      <span class="material-symbols-outlined brand-icon">dashboard</span>
      <h2>Gestión de Acciones</h2>
      <button type="button" id="ActionTemplates" class="btn"><span class="material-symbols-outlined">temp_preferences_custom</span> Integraciones</button>
    </div>
    {databaseSections.map((section) => (
      <DatabaseSection
        databaseConfig={section.databaseConfig}
        buttonText={section.buttonText}
        buttonId={section.buttonId}
        tableId={section.tableId}
        sectionId={section.sectionId}
      />
    ))}
    <div class="separator-gradient"></div>
    <Events></Events>
  <ActionsForm/>
  <Notify></Notify>
      <Templates></Templates>
</div>

<script src="/src/components/actionsjs/actionstable.ts"></script>
<script src="/src/components/actionsjs/evalue.js"></script>
<script src="/src/components/events/EventsManager.ts"></script>
<style>
 /*  @import './iec/styles.css'; */
 .navbar-brand {
    background: linear-gradient(135deg, #667eea 0%, #4b58a2 100%);
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-bottom: 14px;
    overflow: hidden;
  }
  .output {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 5px;
    white-space: pre-wrap;
    font-family: monospace;
    min-height: 50px;
  }
  .loading {
    font-style: italic;
    color: #aaa;
  }
</style>
