---
// DatabaseSection.astro
import Export from "./iec/export.astro";
import Import from "./iec/import.astro";
import type { DatabaseConfig } from "@config/idbconfig";

export interface Props {
  databaseConfig: DatabaseConfig;
  buttonText: string;
  buttonId: string;
  tableId: string;
  sectionId: string;
  className?: string;
}

const {
  databaseConfig,
  buttonText,
  buttonId,
  tableId,
  sectionId,
  className = ""
} = Astro.props;
---

<div class={`grid gap-5 m-5 ${className}`} id={sectionId}>
  <div class="flex beetwen">
    <button id={buttonId} class="primary">{buttonText}</button>
    <div class="flex">
      <Import 
        databaseConfig={databaseConfig} 
        buttonText="Importar"
        uniqueId={`import-${sectionId}`}
      />
      <Export 
        databaseConfig={databaseConfig} 
        buttonText="Exportar"
        uniqueId={`export-${sectionId}`}
      />
    </div>
  </div>
  <obj-table id={tableId} darkmode style="margin-inline: 4px"></obj-table>
</div>